.form-container {
  position: relative;
  max-width: 70vw;
  width: 450px;
  height: 280px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.category {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  text-align: left;
}

.category-title {
  background-color: rgb(0, 26, 255);
  color: white;
  padding: 20px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form-container input[type="email"],
.form-container input[type="password"] {
  width: 85%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;

}

.input-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.input-container input[type="email"],
.input-container input[type="password"] {
  margin: 0;
  padding: 0;

}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: rgb(0, 26, 255) !important;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
}

.site-name {
    margin-left: 50px;
    font-size: 30px;
}
  
.menu-button {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: rgb(0, 26, 255);
}